:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --background-color-hero: #2F303A;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --portfolio-btn-color: #F5F4FA;
  --clients-link-color: #AFB1B8;
  --form-button-color: #188CE8;
  --portfolio-border-color: #EEEEEE;
  --header-border-bottom: #ECECEC;
  --team-list-shadow: rgba(0, 0, 0, 0.14);
  --button-box-shadow: rgba(0, 0, 0, 0.15);
  --footer-input-bc: rgba(255, 255, 255, 0.3);
  --overlay-bg-image: rgba(47, 48, 58, 0.4);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --close-button-bordercolor: rgba(0, 0, 0, 0.1);
  --btn-box-shadow-color: rgba(0, 0, 0, 0.08);
  --btn-hover-color: rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: rgba(0, 0, 0, 0.16);
  --portfolio-card-hover: rgba(0, 0, 0, 0.06);
  --form-input-bordercolor: rgba(33, 33, 33, 0.2);
  --form-input-placeholder: rgba(117, 117, 117, 0.5);
  --footer-join__link-color: rgba(255, 255, 255, 0.1);
  --card-link-hover: rgba(33, 150, 243, 0.9);
  --work-list-bgc: rgba(47, 48, 58, 0.8);
}

.link,
.item-link,
.portfolio-site {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero-button,
.footer-input__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px var(--button-box-shadow);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-color: transparent;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.work__title, .clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .work__title, .clients__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-list__title {
    text-align: center;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-list__title {
    text-align: center;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .about-list__title {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    position: relative;
    border-bottom-color: var(--header-border-bottom);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    border-bottom-color: var(--header-border-bottom);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    border-bottom-color: var(--header-border-bottom);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.header-logo {
  margin-left: 15px;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.header-logo .header-logo__text {
  color: var(--title-text-color);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-logo {
    margin-left: 15px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  .header-logo .header-logo__text {
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-left: 15px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  .header-logo .header-logo__text {
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  .header-logo .header-logo__text {
    color: var(--title-text-color);
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav__item:not(:last-child),
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

.auth-nav__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__iconmail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__item:hover .auth-nav__iconmail, .auth-nav__item:focus .auth-nav__iconmail {
  fill: var(--accent-color);
}

.auth-nav__iconphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__item:hover .auth-nav__iconphone, .auth-nav__item:focus .auth-nav__iconphone {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .burger-button {
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 10px 15px 10px auto;
  }
  .burger-button:hover, .burger-button:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.hero {
  background-color: var(--background-color-hero);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(var(--overlay-bg-image), var(--overlay-bg-image)), url("../images/Img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  width: 90vw;
  min-height: 500px;
  background-color: var(--backdrop-bg-color);
  padding: 222px 536px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 1px solid var(--close-button-bordercolor);
  background-color: var(--primary-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button__icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: var(--title-text-color);
}

.form__list {
  display: block;
  margin: 0;
  padding: 0;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-name {
  margin-top: 4px;
  padding: 12px 42px;
  height: 40px;
  border: 1px solid var(--form-input-bordercolor);
  box-sizing: border-box;
  border-radius: 4px;
}
.form__item:hover .form__input-name, .form__item:focus-within .form__input-name {
  border-color: var(--accent-color);
}
.form__input-name::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--form-input-placeholder);
}
.form__input-name:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--form-input-placeholder);
}
.form__input-name::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--form-input-placeholder);
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 30px;
  left: 15px;
  background-size: contain;
  box-sizing: border-box;
}

.textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--form-input-bordercolor);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__icon {
  background-size: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__item:hover .form__icon, .form__item:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__agreement {
  display: inline-block;
  margin-bottom: 20px;
}

.form__policy {
  display: flex;
  align-items: center;
  line-height: 1.71;
}

.form__link {
  color: var(--accent-color);
  padding-left: 5px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__agree-lable {
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
}

.form__checkbox:checked + .form__agree-lable {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border: hidden;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px var(--button-box-shadow);
  border-radius: 4px;
  border-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover, .form-button:focus {
  background-color: var(--form-button-color);
}

@media screen and (min-width: 480px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .about-list {
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .about-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) {
  .about-list__icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--portfolio-btn-color);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about-list__icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--portfolio-btn-color);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--portfolio-btn-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .about-list__image {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .about-list__image {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__image {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .about-list__text {
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
  .about-list__text {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__text {
    line-height: 1.71;
    max-width: 270px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    position: relative;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: var(--work-list-bgc);
  }
}

@media screen and (min-width: 1200px) {
  .work-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--portfolio-btn-color);
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--portfolio-btn-color);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--portfolio-btn-color);
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__item {
    margin: 30px 15px;
    box-shadow: 0px 1px 3px var(--btn-hover-color), 0px 1px 1px var(--team-list-shadow), 0px 2px 1px var(--backdrop-bg-color);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    box-shadow: 0px 1px 3px var(--btn-hover-color), 0px 1px 1px var(--team-list-shadow), 0px 2px 1px var(--backdrop-bg-color);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px var(--btn-hover-color), 0px 1px 1px var(--team-list-shadow), 0px 2px 1px var(--backdrop-bg-color);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-person {
    background: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-person {
    background: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-person {
    background: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-person__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 768px) {
  .team-person__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .team-person__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-person__text {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team-person__text {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .team-person__text {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-person__span {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 768px) {
  .team-person__span {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .team-person__span {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .person-app {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .person-app {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .person-app {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .person-app__link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--clients-link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .person-app__link:hover, .person-app__link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .person-app__link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--clients-link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .person-app__link:hover, .person-app__link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .person-app__link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--clients-link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .person-app__link:hover, .person-app__link:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .person-app__icon {
    display: flex;
    fill: var(--clients-link-color);
  }
  .person-app__link:hover .person-app__icon, .person-app__link:focus .person-app__icon {
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .person-app__icon {
    display: flex;
    fill: var(--clients-link-color);
  }
  .person-app__link:hover .person-app__icon, .person-app__link:focus .person-app__icon {
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .person-app__icon {
    display: flex;
    fill: var(--clients-link-color);
  }
  .person-app__link:hover .person-app__icon, .person-app__link:focus .person-app__icon {
    fill: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__link {
    display: flex;
    justify-content: center;
    border: 1px solid var(--clients-link-color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 92px;
    padding: 16px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list__link:hover, .clients-list__link:focus {
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    display: flex;
    border: 1px solid var(--clients-link-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list__link:hover, .clients-list__link:focus {
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    display: flex;
    border: 1px solid var(--clients-link-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list__link:hover, .clients-list__link:focus {
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__icon {
    fill: var(--clients-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
  }
  .clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__icon {
    fill: var(--clients-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__icon {
    fill: var(--clients-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-hero);
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-hero);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-hero);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container_block {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container_block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo {
    display: block;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    display: block;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    display: block;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo__text {
    color: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-logo__text {
    color: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo__text {
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
  .footer-address__item .footer-address__link--white {
    color: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
  .footer-address__item .footer-address__link--white {
    color: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
  .footer-address__item .footer-address__link--white {
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-address__link {
    display: block;
    font-style: normal;
    line-height: 1.17;
    text-decoration: none;
    margin-bottom: 9px;
    color: var(--color-footer-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-address__link:hover, .footer-address__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-address__link {
    display: block;
    font-style: normal;
    line-height: 1.17;
    text-decoration: none;
    margin-bottom: 9px;
    color: var(--color-footer-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-address__link:hover, .footer-address__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__link {
    display: block;
    font-style: normal;
    line-height: 1.17;
    text-decoration: none;
    margin-bottom: 9px;
    color: var(--color-footer-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-address__link:hover, .footer-address__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-left: 93px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-join__text,
.footer-input__text {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-join__text,
.footer-input__text {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join__text,
.footer-input__text {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-join__list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-join__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join__list {
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-input__list {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-join__link {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-join__link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-join__link {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-join__link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-join__link {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-join__link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-join__icon {
    height: 20px;
    width: 20px;
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-join__icon {
    height: 20px;
    width: 20px;
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-join__icon {
    height: 20px;
    width: 20px;
    fill: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-input__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-input__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-input__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-input__sign {
    width: 450px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--footer-input-bc);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-hero);
    color: var(--primary-white-color);
    font-size: 16px;
  }
  .footer-input__sign::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
}
@media screen and (min-width: 768px) {
  .footer-input__sign {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--footer-input-bc);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-hero);
    color: var(--primary-white-color);
    font-size: 16px;
  }
  .footer-input__sign::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
}
@media screen and (min-width: 1200px) {
  .footer-input__sign {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 12px;
    border: 1px solid var(--footer-input-bc);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-hero);
    color: var(--primary-white-color);
    font-size: 16px;
  }
  .footer-input__sign::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
  .footer-input__sign::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }
}

.list-btn__button {
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  background-color: var(--portfolio-btn-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 70px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-btn__button:hover, .list-btn__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px var(--close-button-bordercolor), 0px 1px 2px var(--btn-box-shadow-color), 0px 2px 2px var(--btn-hover-color);
}

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-card__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-card__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio-card__content {
  position: relative;
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
  box-sizing: border-box;
}

.portfolio-card__link {
  display: block;
  text-decoration: none;
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px var(--btn-hover-color), 0px 4px 4px var(--portfolio-card-hover), 1px 4px 6px var(--portfolio-card-shadow);
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__subtext {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.portfolio-card__item > .portfolio-card__link:hover .portfolio-card__subtext, .portfolio-card__item > .portfolio-card__link:focus .portfolio-card__subtext {
  background-color: var(--card-link-hover);
  transform: translateY(0);
}

.menu-container {
  position: fixed;
  top: 0;
  width: 480px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-menu {
  padding-left: 40px;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: inline-block;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}
.mobile-menu__link--current {
  position: relative;
  color: var(--accent-color);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container button {
  margin-left: 436px;
}

.mobile-nav__tel {
  padding-bottom: 32px;
}

.menu-panel {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.menu-panel__item {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-panel__item:not(:last-child)::after {
  position: relative;
  content: "";
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-panel__item {
  margin-right: 10px;
}

.mobile-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.mobile-nav {
  padding-top: 302px;
  padding-bottom: 64px;
  padding-left: 40px;
}

.mobile-nav__link--size {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */