.hero {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        background-color: var(--background-color-hero);
        padding-top: 200px;
        padding-bottom: 200px;
        width: 90vw;
    }
    @media screen and (min-width: 768px) {
        background-color: var(--background-color-hero);
        padding-top: 200px;
        padding-bottom: 200px;
        width: 768px;
    }
        @media screen and (min-width: 1200px) {
    background-color: var(--background-color-hero);
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1200px;
        }
}

.overlay {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 480px;
        height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
        var(--overlay-bg-image),
        var(--overlay-bg-image)),
        url('../images/Img-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    @media screen and (min-width: 768px) {
        width: 768;
        height: 100%;
        margin: 0 auto;
        background-image: linear-gradient(
            var(--overlay-bg-image),
            var(--overlay-bg-image)),
            url('../images/Img-hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;}
    @media screen and (min-width: 1200px) {
        width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(
        var(--overlay-bg-image),
        var(--overlay-bg-image)),
        url('../images/Img-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}