.hero {
    background-color: var(--background-color-hero);
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(
        var(--overlay-bg-image),
        var(--overlay-bg-image)),
        url('../images/Img-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}