:root {
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-hero: #2F303A;
    --color-footer-link: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #F5F4FA;
    --clients-link-color: #AFB1B8;
    --form-button-color: #188CE8;
    --portfolio-border-color: #EEEEEE;
    --header-border-bottom: #ECECEC;
    --team-list-shadow: rgba(0, 0, 0, 0.14);
    --button-box-shadow: rgba(0, 0, 0, 0.15);    
    --footer-input-bc: rgba(255, 255, 255, 0.3);
    --overlay-bg-image: rgba(47, 48, 58, 0.4);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --close-button-bordercolor: rgba(0, 0, 0, 0.1);
    --btn-box-shadow-color: rgba(0, 0, 0, 0.08);
    --btn-hover-color: rgba(0, 0, 0, 0.12);
    --portfolio-card-shadow: rgba(0, 0, 0, 0.16);
    --portfolio-card-hover: rgba(0, 0, 0, 0.06);
    --form-input-bordercolor: rgba(33, 33, 33, 0.2);
    --form-input-placeholder: rgba(117, 117, 117, 0.5);
    --footer-join__link-color: rgba(255, 255, 255, 0.1);
    --card-link-hover: rgba(33, 150, 243, 0.9);
    --work-list-bgc: rgba(47, 48, 58, 0.8);
    
}